/* CategoryComp.module.css */
.listContainer {
  font-family: "Poppins", sans-serif; /* Applies only to your component */
  padding: 20px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f8f9fa;
  max-width: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.listContainer h2 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.listContainer h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.listContainer h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #666;
  text-align: center;
}
.listItem {
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.listItem:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
.documentName {
  font-size: 15px;
  margin-right: 30px;
}
.badgeCustom1 {
  background-color: #031633;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 50px;
  margin-right: 5px;
  margin-top: 8px;
}
.badgeCustom2 {
  background-color: #007bff;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 50px;
  margin-right: 5px;
  margin-top: 8px;
}

/* Button container */
.buttonContainer {
  display: flex;
  gap: 15px; /* Spacing between buttons */
  justify-content: center;
  margin-top: 20px;
}

/* Primary button */
.primaryButton {
  background-color: #031633; /* Bootstrap primary blue */
  color: #fff;
  font-size: 1.1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  height: 50px;
  width: 200px;
  font-weight: 500;
}

.primaryButton:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.inputField {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.saveButton {
  margin-top: 5px;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 50px;
  margin-right: 5px;
}

.listItem {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
